.title h4 {
  font-family: "Mochiy Pop One", sans-serif;
  color: white;
  margin: 0;
  line-height: 30px;
  font-size: 1.5rem;
}
.title h3 {
  color: white;
  margin: 0;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
}
.title {
  gap: 5px;
  cursor: pointer;
  top: 20%;
  width: 40%;
}
.sort {
  width: max-content !important;
  padding: 10px 17px 10px 17px;
}
.title h5 {
  font-size: 1rem !important;
  color: white;
  margin: 0;
}
.title h5:hover {
  color: turquoise;
}
.title h4:hover {
  color: turquoise;
}
.card {
  transition: 0.5s ease-out;
}
.card:hover {
  transform: scale(1.035);
}
.search input::placeholder {
  font-size: 15px;
  color: white;
}
textarea:focus,
.search input:focus {
  outline: none;
}
.search {
  margin-top: 50px;
  margin-bottom: 10px !important;
}

.search input {
  font-size: 20px;
}
.info h3 {
  margin: 0;
  font-size: medium;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 8px;
}
.MuiPaginationItem-root {
  color: white !important;
}
.MuiPagination-ul {
  height: 100% !important;
}
.scroll::-webkit-scrollbar {
  display: none;
}
.selected span {
  color: turquoise !important;
}
.Mui-selected {
  background-color: turquoise !important;
  color: black !important;
}
@media only screen and (max-width: 1300px) {
  .title h5 {
    display: none;
  }
  .title h4 {
    font-size: medium;
  }

  .title {
    top: 28%;
  }
  .info-main {
    flex-direction: column;
    align-items: center;
    width: 90% !important;
    top: 20% !important;
    gap: 0;
  }
  .info {
    padding: 20px;
  }
  .card {
    height: 200px !important;
  }
  .search {
    margin-top: 20px;
  }
  .home-sub {
    width: 90% !important;
  }
  .search input {
    width: 90% !important;
  }
  .scroll {
    flex-wrap: wrap;
    width: 100% !important;
    margin-top: 10px !important;
    height: 100% !important;
  }
  .sort {
    width: max-content !important;
  }
  .home {
    margin-top: 70px !important;
  }
}
